*{
    margin: 10;
    padding: 10;
}

#heading{
    text-align: center;
    color: crimson;
}


table, tr, th, td{
    border: 1px solid;
    position: relative;
}

table {
    width: 100%;
}

td, th{
    text-align: center;
}

tr:hover {
    background-color: crimson;
    color: white;
}

th {
    background-color: crimson;
    color: white;
  }
#newDriverName{
    transform: translateX(100px);
    width: 150px;
    position: relative;
}

#addDriver{
    transform: translateX(407px);
    position: relative;
}

#newDriverRating{
    transform: translateX(205px);
    width: 150px;
    position: relative;
} 
#menu{
    text-align: center;
}
#addDriver{
    background-color: crimson;
    color: white;
}
#update-rating{
    text-align: center;
}
#textInputDriverID{
    transform: translateX(-100px);
}
#updateDriverRating{
    transform: translateX(-90px);
    width: 150px;
}
#updateRatingBtn{
    transform: translateX(150px);
}
  
