*{
    margin: 10;
    padding: 10;
}

#heading{
    text-align: center;
    color: crimson;
}


table, tr, th, td{
    border: 1px solid;
    position: relative;
}

table {
    width: 100%;
}

td, th{
    text-align: center;
}

tr:hover {
    background-color: crimson;
    color: white;
}

th {
    background-color: crimson;
    color: white;
  }
#newDriverName{
    transform: translateX(0px);
    width: 150px;
    position: relative;
}

#newDriverRating{
    transform: translateX(-40px);
    width: 150px;
    position: relative;
}

#addDriverBtn{
    transform: translateX(165px);
    position: relative;
    border-radius: 8px;
    background-color: crimson;
    color: white;
}
#menu{
    text-align: center;
}

#update-rating{
    text-align: center;
}
#textInputDriverID{
    width: 150px;
    transform: translateX(0px);
}
#updateDriverRating{
    transform: translateX(10px);
    width: 150px;
}
#updateRatingBtn{
    transform: translateX(15px);
    background-color: crimson;
    color: white;
    border-radius: 8px;
}
#fireDriver{
    text-align: center;
}
#fireDriverBtn{
    transform: translateX(-15px);
    background-color: crimson;
    color: white;
    border-radius: 8px;
}
#textInputDriverID2{
    transform: translateX(-25px);
    width: 150px;
}