#heading{
    text-align: center;
    color: crimson;
}


table, tr, th, td{
    border: 1px solid;
    position: relative;
}

table {
    width: 100%;
}

td, th{
    text-align: center;
}

tr:hover {
    background-color: crimson;
    color: white;
}

th {
    background-color: crimson;
    color: white;
  }
#newDriverName{
    transform: translateX(170px);
    width: 150px;
    position: fixed;
}

#addDriver{
    transform: translateX(600px);
}

#newDriverRating{
    transform: translateX(250px);
    width: 150px;
    position: fixed;
} 


  
